
@media (max-width: 419.99px) {
  .carousel-item img {
    max-width: 300px;
  }
}

@media (min-width: 420px) and (max-width: 574.99px) {
  .carousel-item img {
    max-width: 410px;
  }
}

@media (min-width: 575px) and (max-width: 766px) {
  .carousel-item img {
    max-width: 565px;
  }
}
